.tabs {
  display: flex;
  margin-bottom: 20px;
}

.tab-button {
  padding: 10px 20px;
  border: none;
  background-color: gray;
  cursor: pointer;
  margin-right: 5px;
}

.tab-button.active {
  background-color: #007bff; /* Change to your active tab color */
  color: white;
}

/* .no-valid-locations-message {
  color: red;
} */
