/* Navbar Styles */
.navbar {
  background-color: #2c3e50;
  padding: 10px 0;
  box-shadow: 0 4px 2px -2px gray;
  position: relative;
}

.navbar-menu {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.navbar-item a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.navbar-item a:hover {
  color: #1aa7ec;
}

/* Profile Dropdown Styles */
.profile-dropdown-container {
  position: relative;
}

.profile-logo {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: white;
}

.profile-logo img {
  width: 30px;
  height: auto;
  border-radius: 50%;
}

.dropdown-content {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 300px;
  background-color: #333;
  color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  z-index: 100;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.dropdown-content.open {
  opacity: 1;
}

.dropdown-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-picture-upload {
  margin-bottom: 10px;
}

.profile-picture-upload input {
  margin-bottom: 10px;
}

.uploaded-profile-pic {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.delete-btn {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

.delete-btn:hover {
  background-color: #d32f2f;
}

.profile-info div {
  margin-bottom: 10px;
}

.profile-info input,
.profile-info textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #444;
  color: white;
}

.logo-image {
  height: 40px; /* Adjust size as needed */
  width: auto;
  cursor: pointer;
}
